<html>
    <head>
        <link rel="stylesheet" href="/static/site.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navbar fixed-top navbar-light bg-light">
                <div class="navbar-brand">
                    <h3 style="font-family: 'Lobster', cursive">SockApp</h3>
                </div>
                <a class="nav-link" href="#">Matched Socks <span class="sr-only">(current)</span></a>
                <form action="/logout" method="POST">
                    <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Logout</button>
                </form>
            </nav>
        </header>
        <div id="displayContainer">
            <div id="userId">
                {{#user}}
                <div id="cards" style="display: flex; flex-direction: row">
                    <div class="card" style="width: 30rem; top: 8rem; left: 7%">
                        <img src="{{imageurl}}" class="card-img-top" style="height: 30rem" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-transform: capitalize">{{username}}</h5>
                            <p class="card-text" style="text-transform: capitalize">{{sockcolor}}, {{sockstyle}}</p>
                            <a href="#" class="card-link">Update</a>
                        </div>
                    </div>
                </div>
                {{/user}}
            </div>
            <div id="potentialMatchesContainer">
                {{#potentialmatch}}
                <div class="matchCard" id="cards" style="display: flex; flex-direction: row;">
                    <div class="card" style="width: 15rem; top: 8rem; left: 7%">
                        <img src="{{imageurl}}" class="card-img-top" style="height: 15rem" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" style="text-transform: capitalize">{{username}}</h5>
                            <p class="card-text" style="text-transform: capitalize">{{sockcolor}}, {{sockstyle}}</p>
                            <a href="#" class="card-link">Match!</a>
                        </div>
                    </div>
                </div>
                {{/potentialmatch}}
            </div>
        </div>
    </body>
</html>